.color-text {
  color: #5e93e7;
}
.color-symbol {
  color: #b3cdf8;
}
.form-login {
  padding-left: 7%;
  padding-right: 7%;
  padding-top: 10%;
  width: 100%;
}
.company-svg {
  background: url('./companySVG.svg') no-repeat;
  width: 112px;
  height: 43px;
  margin: 0;
}
h1 {
  font-size: 52px;
}
h2 {
  font-size: 30px;
}
