.no-users {
  position: absolute;
  top: 40%;
  padding-left: 25%;
}
.no-users-logo {
  background-image: url('../../../pages/ChatPage/ChatPageIcons/no-users.svg');
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  border-radius: 110px;
}
