.half-page {
  width: 50%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
}
.back-svg {
  background: #eff5ff;
}
.login-page {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
